
@model ProductVM

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Product.Id!=0?"Update":"Create") Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" asp-action="Upsert" class="row" enctype="multipart/form-data" >
            <input asp-for="Product.Id" hidden />
            <div class="border-p3 mt-4">

                <div class="mb-3 row">
                    <label>Title</label>
                    <input asp-for="Product.Title" type="text" class="form-control" />
                    <span asp-validation-for="Product.Title" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label>Description</label>
                    <textarea asp-for="Product.Description" type="text" class="form-control"></textarea>
                </div>
                <div class="mb-3 row">
                    <label>ISBN</label>
                    <input asp-for="Product.ISBN" type="text" class="form-control" />
                    <span asp-validation-for="Product.ISBN" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label>Author</label>
                    <input asp-for="Product.Author" type="text" class="form-control" />
                    <span asp-validation-for="Product.Author" class="text-danger"></span>
                </div>

                <div class="mb-3 row">
                    <label>Price</label>
                    <input asp-for="Product.Price" type="number" class="form-control" />
                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                </div>

                <div class="mb-3 row">
                    <label>ListPrice</label>
                    <input asp-for="Product.ListPrice" type="number" class="form-control" />
                    <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
                </div>

                <div class="mb-3 row">
                    <label>Price50</label>
                    <input asp-for="Product.Price50" type="number" class="form-control" />
                    <span asp-validation-for="Product.Price50" class="text-danger"></span>
                </div>
                <div class="mb-3 row">
                    <label>Price100</label>
                    <input asp-for="Product.Price100" type="number" class="form-control" />
                    <span asp-validation-for="Product.Price100" class="text-danger"></span>
                </div>

                @*  asp-items="ViewBag.CategoryList"  this is for ViewBag*@
                @* asp-items="@(ViewData["CategoryList"] as IEnumerable<SelectListItem>)" this is for ViewData *@
                <div class="mb-3 row">
                    <label asp-for="@Model.Product.CategoryId">Category</label>
                    <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                        <option disabled selected>--Select Category--</option>
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>

                <div class="mb-3 row">
                    <label>Image</label>
                    <input asp-for="Product.ImageUrl" type="file" class="form-control" />
                </div>

                <div class="row">
                    <div class="col-6 col-md-3">
                        @if (Model.Product.Id != 0)
                        {
                            <button type="submit" class="btn btn-primary form-control">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary form-control">Create</button>
                        }
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">BACK TO LIST</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists media  table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | align lineheight | numlist bullist indent outdent | emoticons charmap',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}